{% extends "base.html" %}
{% block title %}LIST OF TASKS{% endblock %}
{% block content %}
<h1>MY TASKS</h1>

<div style="text-align: right; margin-bottom: 10px;">
    <a href="{% url 'todo:task-create' %}">➕ ADD</a>
</div>

<table>
    <thead>
        <tr>
            <th>Content</th>
            <th>Status</th>
            <th>Update</th>
            <th>Delete</th>
            <th>Switch</th>
        </tr>
    </thead>
    <tbody>
        {% for task in task_list %}
            <tr>
                <td>{{ task.content }}</td>
                <td>{% if task.is_done %}✅{% else %}❌{% endif %}</td>
                <td><a href="{% url 'todo:task-update' task.pk %}">✏️</a></td>
                <td><a href="{% url 'todo:task-delete' task.pk %}">🗑️</a></td>
                <td><a href="{% url 'todo:task-switch-status' task.pk %}">🔄</a></td>
            </tr>
        {% empty %}
            <tr><td colspan="5">NO TASKS</td></tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}



